---
import { Debug } from "astro/components";

import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import QuestionCard from "../../components/QuestionCard.astro";
import Layout from "../../layouts/main.astro";
import Html from "../../layouts/html.astro";

export async function getStaticPaths() {
    return [{ params: { id: "6480a2015afba9ca477cdca5" } }];
}
const { id } = Astro.params;

const queryContents = await fetch(
    `${import.meta.env.BACKEND_URL}/emissions/${id}`
);
const data = await queryContents.json();
---

<Html title={"test"} description={"test"}>
    <Layout>
        <div>emission</div>
        <Debug data={data} />
        <div class="flex flex-col space-y-8 items-center">
            test {id}
        </div>
    </Layout>
</Html>
