---
import CardsList from "../../components/CardsList.astro";
import EmissionCard from "../../components/EmissionCard.astro";
import Html from "../../layouts/html.astro";
import Main from "../../layouts/main.astro";

import { Debug } from "astro/components";

export async function getStaticPaths({ paginate }) {
    const response = await fetch(`${import.meta.env.BACKEND_URL}/broadcast`);
    const result = await response.json();

    // Return a paginated collection of paths for all posts
    return paginate(result, { pageSize: 20 });
}

const { page } = Astro.props;
---

<Html
    title="Questions de culture générale, les questions du jeu des milles euros"
    description="Questions multi-thématique de culture générale pour vous mettre au défi"
    canonical="/emissions"
>
    <Main>
        <!-- <Debug data={data} /> -->
        <CardsList spacing={0}>
            {page.data.map((item) => <EmissionCard data={item} />)}
        </CardsList>
        <!-- <Debug data={page} /> -->
    </Main>
</Html>
