---
import Html from "../../layouts/html.astro";
import Main from "../../layouts/main.astro";

import { EmissionForm } from "../../components/Form/index";
---

<Html
    title="Questions de culture générale, les questions du jeu des milles euros"
    description="Questions multi-thématique de culture générale pour vous mettre au défi"
>
    <Main>
        <div>
            question form
            <EmissionForm />
        </div>
    </Main>
</Html>
